{% extends 'base.html.twig' %}

{% block title %}Video{% endblock %}

{% block body %}
    <h1>Video</h1>

    <table class="table">
        <tbody>
            
            <tr>
                <th>Title</th>
                <td>{{ video.title }}</td>
            </tr>
            <tr>
                {# <th>VideoLink</th> #}
                 <iframe width="640" height="480" src={{video.videoLink}}></iframe>
                {# <td>{{ video.videoLink }}</td> #}
            </tr>
           
            <tr>
                <th>Description</th>
                <td>{{ video.description }}</td>
            </tr>
            <p>Submitted {{ video.createdAt|date }}</p>
            <p>Dernière Modification {{ video.updatedAt|date("d/m/y H:i") }}</p>
             <tr>
                
                 <p>Par:  {{ video.user.firstname }} {{ video.user.lastname }}</p>
            </tr>
            
        </tbody>
    </table>
    <a href="{{ path('app_home') }}">Retour à l'accueil</a>
    {% if app.user %}
    {% if app.user.isVerified %}
    <a href="{{ path('app_video_edit', {'id': video.id}) }}">Editer</a>

    {{ include('video/_delete_form.html.twig') }}
    {% endif %}
    {% endif %}
{% endblock %}

